
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Page Polies", "ListPagePolies")
@Html.ActionLink("Group Polies", "ListGroupPolies")
@Html.ActionLink("User Polies", "ListUserPolies")