
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
@Html.ActionLink("Page Polies", "ListPagePolicies")<br />
@Html.ActionLink("Group Polies", "ListGroupPolicies")<br />
@Html.ActionLink("User Polies", "ListUserPolicies")<br />